* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 40rem;
  font-family: "Lato", sans-serif;
  color: oklch(55.2% 0.016 285.938);
  background-color: oklch(0.922 0.005 34.3);
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.heading-primary {
}

.hero-description {
}

.hero-img {
  width: 100%;
}
