* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 40rem;
  font-family: "Lato", sans-serif;
  color: oklch(55.2% 0.016 285.938);
}

.section-hero {
  background-color: #e8e4e3;
  padding: 9.6rem 0;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  height: 100vh;
  display: grid;
  gap: 9.6rem;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.heading-primary {
  font-size: 6.986rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  color: oklab(44.108999999999995% 0.0078 0.01078);
}

.hero-description {
  font-size: 1.44rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.marging-right-sm {
  margin-right: 1.6rem !important;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  color: #fff;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: oklab(71.394% 0.01065 0.00923);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: oklab(71.394% 0.01065 0.00923);
}

.btn--full:hover,
.btn--full:active {
  background-color: oklab(44.108999999999995% 0.0078 0.01078 / 0.772);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: oklab(44.108999999999995% 0.0078 0.01078 / 0.823);
}

.delivered-brands {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-clients {
  display: flex;
}

.delivered-clients img {
  display: flex;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid oklch(0.922 0.005 34.3);
}

.delivered-clients img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #59514c;
  font-weight: 700;
}
